<ion-content>
  <div class="circleBase type2 circle1"></div>
  <div class="circleBase type1"></div>
  <div class="circleBase type2 circle2"></div>

  <mat-card>
    <mat-card-title class="welcomeMessage">
      <mat-label class="ion-text-center">
        <span class="ion-text-center" style="color: rgb(15, 15, 15)"
          >Welcome Back</span
        >
        <p class="ion-text-center" style="color: rgb(15, 15, 15)">Log In!</p>
      </mat-label>
    </mat-card-title>
  </mat-card>
  <mat-card>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field class="ion-margin-vertical" appearance="fill">
          <mat-icon matPrefix>email</mat-icon>
          <!-- <mat-label>Email Address</mat-label> -->
          <input
            matInput
            formControlName="email"
            placeholder="Enter Email Address"
            required
          />
          <mat-error
            *ngIf="form.get('email')?.invalid && form.get('email')?.touched"
          >
            *Please enter a valid Email Address
          </mat-error>
        </mat-form-field>

        <mat-form-field class="ion-margin-vertical" appearance="fill">
          <!-- <mat-label>Password</mat-label> -->
          <mat-icon matPrefix>lock</mat-icon>
          <input
            matInput
            formControlName="password"
            [type]="isTypePassword ? 'password' : 'text'"
            placeholder="Enter Password"
            required
            minlength="8"
          />
          <mat-error
            *ngIf="form.get('password')?.invalid && form.get('password')?.touched"
          >
          </mat-error>
          <mat-error
            *ngIf="
                form.get('password')?.invalid &&
                form.get('password')?.errors?.['required']
              "
          >
            *Please enter your Password
          </mat-error>
          <mat-error
            *ngIf="
                form.get('password')?.invalid &&
                form.get('password')?.errors?.['minlength']
              "
          >
            *Password must be at least 8 characters long
          </mat-error>
        </mat-form-field>

        <mat-checkbox>Remember me</mat-checkbox>
        <br />
        <button mat-raised-button color="primary" type="submit">Log In</button>

        <p class="signup">
          <span>Not a member yet?</span>

          <a routerLink="/login/signup" color="primary">Sign Up</a>
        </p>
      </form>
    </mat-card-content>
  </mat-card>
</ion-content>
